.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: transparent linear-gradient(180deg, #5499C3 0%, #0E2939 100%) 0% 0% no-repeat padding-box;
  height: 180px;
  padding: 20px;
  color: white;
}

.App-footer{
  background-color: #0E2939;
  height: 30px;
  color: white;
  font-size: 15px;
}

.App-white {
  height: 300px;
}

.App-blue {
  background-color: #E7ECEF;
  height: 300px;
}

.App-title {
  font-size: 2.5em;
}

.App-menu{
  font-size: 1em;
}

.App-intro {
  font-size: large;
  color: #2E3E48;
}

.App-vision{
  color: #0E2939;
  margin-top: 4%;
}

.App-mision{
  display: flex;
  align-items:center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
